
<script type="text/javascript" src="/plugins/popper.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/jquery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/plugins/lodash.min.js"></script>
<script type="text/javascript" src="/plugins/list.min.js"></script>
<script type="text/javascript" src="/plugins/chart.min.js"></script>
<script type="text/javascript" src="/plugins/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/cr-1.5.4/date-1.1.1/datatables.min.js"></script>
<script type="text/javascript" src="/plugins/tags.min.js"></script>
<script type="text/javascript" src="/plugins/auto-complete.min.js"></script>

<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/main.js"></script>




</body>
</html>
