<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/jquery/jquery-3.6.0.min.js"></script>
<script src="/plugins/print.min.js"></script>
<script src="/plugins/lodash.min.js"></script>
<script src="/plugins/list.min.js"></script>


</body>
</html>
