<html>
  <head>
    <title>Node.js Desktop Application using Electron, Bootstrap and Express.js</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>