<style>
   #loader{
     display: none;
   }
  #loader.active {
    display: block;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    translate: translate(-50%, -50%);

  }
  #loader.active img {
    width: 100px;
  }
</style>

<div id="loader">
  <img src="/assets/loader.gif" alt="Loading..." />
</div>
