<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar">
  <!-- Left icons -->
  <div class="user-settings">
    <a class="history-button" type="button" class="navbar-brand" onclick="history.back()"><h1  class="far fa-arrow-alt-circle-left fa-4x"></h1> </a>
  </div>

  <!-- Right icons -->
  <div class="user-settings d-flex align-items-center">
    <a href="/" class="me-2"><button class="btn btn-light">Records</button></a>
    <a href="/antibiogram" class="me-2"><button class="btn btn-light">Antibiogram</button></a>
    <a href="/trend_analysis" class="me-2"><button class="btn btn-light">Trend Analysis</button></a>
    <a href="/logout"><button class="btn btn-light">Logout</button></a>
  </div>
</nav>
