<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar">
  <!-- Left icons -->
  <div class="user-settings">
    <a type="button" class="navbar-brand" onclick="history.back()"><h1 class="fas fa-arrow-left"></h1> </a>
    <a href="/"><img src="/assets/icons/home.svg" style="width: 40px;" /></a>
  </div>

  <!-- Right icons -->
  <div class="user-settings d-flex align-items-center">
    <a href="/antibiogram" class="me-2"><button class="btn btn-light">Antibiogram</button></a>
    <a href="/trend_analysis" class="me-2"><button class="btn btn-light">Trend Analysis</button></a>
    <a href="/logout"><button class="btn btn-light">Logout</button></a>
  </div>
</nav>
