<%-include("partials/header") %> <%-include("partials/navbar") %>


<link rel="stylesheet" href="/css/antibiogram.css" />
<div class="container mt-2">
  <form id="antibiogram-form" method="" action="">
    <div class="row align-items-center">
      <!-- Start Date -->
      <div class="col-lg-2 col-6">
        <div class="form-floating">
          <input required class="form-control" type="date" id="startDate" name="startDate" />
          <label class="form-label">Start Date: </label>
        </div>
      </div>
      <!-- End Date -->
      <div class="col-lg-2 col-6">
        <div class="form-floating">
          <input required class="form-control" type="date" id="startDate" name="endDate" />
          <label class="form-label">End Date: </label>
        </div>
      </div>
      <!-- Panel -->
      <div class="col-lg-3 col-5">
        <div class="">
          <select required class="form-control p-3" name="panel">
            <option hidden value="">Select Panel</option>
            <option value="staphylococcus">Staphylococcus</option>
            <option value="streptococcus">Streptococcus</option>
            <option value="gramNegative">Gram Negative</option>
            <option value="pseudomonas">Pseudomonas</option>
          </select>
        </div>
      </div>
      <!-- Bacteria -->
      <div class="col-lg-3 col-5">
        <div class="tag-input">
          <select class="form-select" name="bacterias" id="validationTags" multiple data-allow-clear="true">
            <option selected disabled hidden value="">Bacteria</option>
            <option value="Staphylococcus">Staphylococcus</option>
            <option value="Staphylococcus2">Staphylococcus2</option>
            <option value="Staphylococcus3">Staphylococcus3</option>
            <option value="Pseudomonas">Pseudomonas</option>
          </select>
        </div>
      </div>
      <!-- Submit button -->
      <div class="col-lg-2 col-2">
        <button class="btn btn-primary m-auto">Get Reports</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <canvas id="myChart" width="500" height="200"></canvas>
  <div id="antibiogram-table" class="p-2"></div>
</div>
<%-include("partials/footer") %> <%-include("partials/loader") %>
<script>
  Tags.init();
</script>
<script src="/js/antibiogram.js"></script>
