<%-include("partials/header") %>
<link rel="stylesheet" href="/css/login.css" />
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<div class="login-form-container">
  <main class="form-signin">
    <form id="login-form" method="POST" action="/login">
      <!-- <img class="mb-4" src="" alt="" width="72" height="57" /> -->
      <h1 class="h3 mb-3 fw-normal">LOGIN</h1>

      <div class="form-floating">
        <input type="text" required class="form-control mb-2" name="username" id="floatingInput" placeholder="admin" />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" required class="form-control mb-2" id="floatingPassword" name="password" placeholder="Password" />
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
</div>
<%-include("partials/loader") %>
<%-include("partials/footer") %>

<script>
  document.getElementById("login-form").onsubmit(()=>{
  $(`#loader`).addClass("active");

  })
</script>
