<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="login-header">
      <a href="/">Home</a>
    </div>
    <div class="main-body">
      <div class="login-container">
        <div class="login-container-heading">
          <h1>Login</h1>
        </div>
        <div class="login-form">
          <form class="login-form" action="/login" method="post">
            <input class="input-area" type="text" name="username" value="" placeholder="username">
            <input class="input-area" type="password" name="password" value="" placeholder="password">
            <button type="submit" class="input-area login-button">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
