<%-include("partials/header") %> <%-include("partials/navbar") %>

<div class="container mt-2">
  <form id="trend-analysis-form" method="" action="">
    <div class="row align-items-center">
      <!-- Start Year -->
      <div class="col-lg-2 col-6">
        <div class="form-floating">
          <input required class="form-control" type="number" name="startYear" />
          <label class="form-label">Start Year: </label>
        </div>
      </div>
      <!-- End Year -->
      <div class="col-lg-2 col-6">
        <div class="form-floating">
          <input required class="form-control" type="number" name="endYear" />
          <label class="form-label">End Year: </label>
        </div>
      </div>
      <!-- Panel -->
      <div class="col-lg-3 col-5">
        <div class="form-floating">
          <select required class="form-control" name="panel">
            <option hidden value="">Select Panel</option>
            <option value="staphylococcus">Staphylococcus</option>
            <option value="streptococcus">Streptococcus</option>
            <option value="gramNegative">Gram Negative</option>
            <option value="pseudomonas">Pseudomonas</option>
          </select>
        </div>
      </div>
      <!-- Bacteria -->
      <div class="col-lg-3 col-5">
        <div class="form-floating">
          <input required class="form-control" type="text" name="bacteria" />
          <label class="form-label">Bacteria(s):</label>  
        </div>
      </div>
      <!-- Submit button -->
      <div class="col-lg-2 col-2">
        <button class="btn btn-primary m-auto">Get Reports</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <canvas id="trend-chart" width="500" height="200"></canvas>
</div>
<%-include("partials/footer") %> <%-include("partials/loader") %>

<script src="/js/trend.js"></script>
