.panel {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  background-color: whitesmoke;
}
.panel-body {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.panel-body .sensi-item {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
  margin: .5rem;
  padding: 5px;
  font-size: 1.2rem;
}

.sample-details {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.sample-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.sample-doc {
  font-size: 2rem;
  font-weight: bold;
}
