:root {
  --primary: #0077b6;
  --secondary: #00b4d8;
  --tertiary: #03045e;
  --quaternary: #caf0f8;
  --white-bg: #f6f6f6;
  --blood: #e6849088;
  --urine: #2b934888;
  --puss: #fff49188;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.shadow-card {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 5px;
  /* padding: 20px; */
}
.input-group-text {
  background-color: var(--primary);
  color: white;
}
.btn-primary {
  background-color: var(--primary);
}

div.dataTables_wrapper {
  margin-bottom: 3em;
}

@media only screen and (max-width: 800px) {
  input,
  select {
    margin-bottom: 2px;
  }
}

.list-details {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
